<ion-view view-title="Calculation">

  <ion-content class = "backgrnd">


    <h4 class = "Cal_header"><b>Payment</b></h4>


 <ul class="payment_list">

    <li class="item" id="payment">
      Payment:
    </li>

     <li class = "item" id = "frequency">
      Frequency:
    </li>

     <li class = "item" id = "of_payments">
      # of Payments:
    </li>

</ul>

     <h4 class = "Cal_header"><b>Total Repayment</b></h4>


 <ul class="total_list">

    <li class = "item" id="total_borrowed">
      Total Borrowed:
    </li>

     <li class = "item" id="total_tax">
      Total Tax:
    </li>

     <li class = "item" id ="total_insurance">
      Total Insurance:
    </li>

     <li class = "item" id ="total_pmi">
      Total PMI:
    </li>

     <li class = "item" id ="total_interest">
      Total Interest:
    </li>

     <li class = "item" id ="total_repaid">
      Total Repaid:
    </li>

</ul>

     <h4 class = "Cal_header"><b>Interest</b></h4>

      <ul class="interest_list">

    <li class = "item" id="as_interest">
      As Interest:
    </li>

      </ul>


  </ion-content>
</ion-view>
