<ion-view view-title="Graph">
  <ion-content>
    <!--<div class="ct-chart ct-golden-section" id="graph" style="margin-top: 20%;"></div>-->

    <div id="chart"></div>
       <button class="button button-full button-positive" ng-controller="GraphCtrl" ng-click="drawGraph()" id = "graphButton">Draw Graph</button>
  </ion-content>
</ion-view>



<!--<script>-->
  <!--var chart = c3.generate({-->
    <!--bindto: '#chart',-->
    <!--data: {-->
      <!--columns: [-->
        <!--[30, 200, 100, 400, 150, 250],-->
      <!--]-->
    <!--}-->
  <!--});-->
<!--</script>-->

<!--<style>-->
  <!--.ct-series-a .ct-line,-->
  <!--.ct-series-a .ct-point {-->
    <!--stroke: blue;-->
  <!--}-->

  <!--.ct-series-b .ct-line,-->
  <!--.ct-series-b .ct-point {-->
    <!--stroke: green;-->
  <!--}-->
<!--</style>-->

<!--<script type="text/javascript" charset="utf-8">-->

  <!--var graph =  new Chartist.Line('#graph', {-->
    <!--labels: ["0","75", "150", "225", "300"],-->
    <!--series: [[0,41000,164000,287000,410000]]-->
  <!--});-->

<!--</script>-->
