<ion-view view-title="Input">
  <ion-content class="padding">

      <script>
          $(document).ready(function(){
 $(".calculator-loan").accrue();
});
</script>
      <h4><b>Basic Information  </b></h>
       <div class="calculator-loan"> 
           
      <div class = "loan-form">
          
          
          
          <div class="accrue-field-amount">
              <p ><label id = "text_lb">Loans Amount:</label>
                  
                  <input type="text" class="amount"  value=" $7,500" ></p>
          </div>
          <div class="accrue-field-rate">
              <p><label>Rate (APR):</label><input type="text" class="rate" value=" 17%"></p>
          </div>
          <div class="accrue-field-term">
              <p><label>Term:</label><input type="text" class="term" value=" 36m"><small>Format: 12m, 36m, 3y, 7y</small></p>
          </div>
          
          
          </div>
      </div>
      
    
  </ion-content>
</ion-view>
