<ion-view view-title="Input">
  <ion-content class="padding">

    <script>
      $(document).ready(function () {
        $(".calculator-loan").accrue({
          mode: "amortization"
        });


      });
    </script>

    <h3><b>Basic Information</b></h3>

    <!--<div class="calculator-loan"></div>-->
<div id = "Main">
    <div class="calculator-loan">

      <div class="accrue-field-amount">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Loan Amount:</span>
          <input type="text" class="amount" placeholder="amount">
        </label>
      </div>

      <div class="accrue-field-rate">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Rate (APR):</span>
          <input type="text" class="rate" placeholder="rate">
        </label>
      </div>

      <div class="accrue-field-term">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Term (<small>Format: 12m, 36m, 3y, 7y</small>) :</span>
          <input type="text" class="term" placeholder="term">
          </label>

      </div>
    </div>
      <h3><b>Payment Frequency</b></h3>

      <div class= "text-center" ng-controller="InputCtrl">
         <button class="button button-positive" id = "wk">Wk</button>
         <button class="button button-positive" id = "bi-wk">Bi-Wk</button>
         <button class="button button-positive" id = "mo">Mo</button>
         <button class="button button-positive" id = "qtr">Qtr</button>
         <button class="button button-positive" id = "yr">Yr</button>
        </div>


      <h3><b>Extra Payments</b></h3>

    <div class="additional_inputs">

        <label for="extra_payments">Add
          <input id="extra_payments"> Extra to Payments
        </label>

    <div class="margins"></div>



        <label for="at_payment">Add
          <input id="at_payment">
        </label>

        <label for="payment_nubmer">At payment #
          <input id="payment_nubmer" placeholder="#">
        </label>

    <h3><b>Additional Options</b></h3>

        <label for="annual_tax">Annual Property Tax
          <input id="annual_tax">
        </label>

      <div class="margins"></div>

        <label for="annual_isurance">Annual Home Insurance
          <input id="annual_isurance">
        </label>

      <div class="margins"></div>

        <label for="pmi">PMI in %
          <input id="pmi" placeholder="%">
        </label>
    </div>

    <h3><b>Customization</b></h3>



         <label for="name">
              <h4>Mortgage Name</h4>
            <input id="name">
         </label>

         <label for="notes">
              <h4>Notes</h4>
             <textarea id="notes"></textarea>
          </label>





      <div class="button-bar">
            <a class="button button-full button-positive" ng-controller="InputCtrl" ng-click="clear()">Clear</a>
            <a class="button button-full button-positive" href="#/tab/calculation">Calculate</a>
            <a class="button button-full button-positive" href="#/tab/settings">Settings</a>
      </div>
</div>

  </ion-content>
</ion-view>
