<ion-view view-title="Settings">

  <ion-content class="padding" >


    <h4><b>Currency Symbol</b></h4>

    <div class= "text-center">
            <button class="button button-positive">None</button>
            <button class="button button-positive">$</button>
            <button class="button button-positive">€</button>
            <button class="button button-positive">£</button>
            <button class="button button-positive">¥</button>


    <div class="card">
        <div class="item item-text-wrap">
          If You have found Calculator to be useful,
          help support this app by writing a quick review in the App Store :)
        </div>
    </div>


    <button class="button  button-large button-positive" id = "Review">Write a Review</button>
    </div>



  </ion-content>
</ion-view>

