
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Input Tab -->
  <ion-tab title="Input" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/input">
    <ion-nav-view name="tab-input"></ion-nav-view>
  </ion-tab>

  <!-- Calculation Tab -->
  <ion-tab title="Calculation" icon-off="ion-ios-calculator-outline"  icon-on="ion-ios-calculator" href="#/tab/calculation" >
    <ion-nav-view name="tab-calculation"></ion-nav-view>
  </ion-tab>

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>



 <ion-tab title="Graph" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/graph">
    <ion-nav-view name="tab-graph"></ion-nav-view>
  </ion-tab>

     <ion-tab title="Offers" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/tab/saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
       </ion-tab>




</ion-tabs>
