input[type=text] {
    
    
    width: 50%;

    font-size: 120%;
    border: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 200;
    border: 2px solid; border-color: darkgrey;
     border-radius: 8px;
    margin-left:  50%
    
} 
#text_lb{
    
  font-size: 110%;
    margin-left:20%;
    
}

